<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'create_student' %}">Add New Student</a>
    <ul>
        {% for student in students %}
            <li>
                <a href="{% url 'student_detail' student.pk %}">{{ student.name }}</a>
                <a href="{% url 'update_student' student.pk %}">Edit</a>
                <a href="{% url 'delete_student' student.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
